.cartItem {
  padding: 1rem 0;
  border-bottom: 1.5px solid var(--rose-100);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: calc((13 / 16) * 1rem);
  margin-bottom: 0.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quantity {
  font-weight: 600;
  color: var(--red);
  display: inline-block;
  margin-right: 1rem;
}

.unitPrice,
.totalPrice {
  font-size: calc((14 / 16) * 1rem);
  color: var(--rose-500);
}

.unitPrice {
  margin-right: 0.5rem;
}

.totalPrice {
  font-weight: 600;
}

.removeBtn {
  border-radius: 50%;
  border: 1.5px solid var(--rose-300);
  background-color: transparent;
  padding: 2px;
  transition: border-color 0.3s;
}

.removeBtn svg path {
  transition: fill 0.3s;
}

.removeBtn:hover {
  border-color: var(--rose-900);
}

.removeBtn:hover svg path {
  fill: var(--rose-900);
}
