.modal {
  width: 100%;
  background-color: var(--rose-50);
  padding: 2rem 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: auto;
}

.checkMarkImage {
  margin-bottom: 1.5rem;
}

.modal h2 {
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.subTitle {
  color: var(--rose-500);
  margin-bottom: 2rem;
}

.confirmedCart {
  background-color: var(--rose-100);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.totalPrice {
  padding: 1.2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalPrice p:nth-child(1) {
  font-size: calc((14 / 16) * 1rem);
}

.totalPrice p:nth-child(2) {
  font-size: calc((20 / 16) * 1rem);
  font-weight: 700;
}

@media screen and (min-width: 40em) {
  .modal {
    margin-bottom: auto;
    padding: 2rem;
    width: calc((600 / 16) * 1rem);
    border-radius: 1rem;
  }
}
